mat-card{
	h1 {
		text-align: center;
		text-transform: uppercase;
		text-shadow: 2px 2px 5px #000000;
		
	  }
	mat-form-field{
		width:100%;
	}
	mat-card-footer{
		padding: 5% 15%;
	}
}
mat-spinner {
	width: 100%;
	margin-bottom: 2%;
	margin-left: auto;
	margin-right: auto;
}