<div class="container">
	<button mat-fab [ngClass]="animateOnRouteEnter" color="accent" id="edit" routerLink="/updateProfile">
		<mat-icon aria-label="edit your profile">edit</mat-icon>
	</button>
	<div class="row">
		<div class="col-sm-4">
			<mat-card>
				<mat-card-content>
					<img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
					<p>{{user.name}}</p>
					<p>{{user.gender | getGender}}, {{user.birthdate | age}} years old</p>
					<p *ngIf="user.location">{{user.location.city}}, {{user.location.country}}</p>
				</mat-card-content>
			</mat-card>
		</div>
		<div class="col-sm-8">
			<div class="catchphrase">
				<p>"{{user.catchPhrase}}"</p>
			</div>
		</div>
	</div>
		<h2>About {{user.name}}</h2>
		<p>{{user.description}}</p>
</div>