<form [formGroup]="form">
    <sf-avatar></sf-avatar>
    <h4>Enter your address, if you have any</h4>
    <mat-form-field>
        <ngx-mat-file-input [formControl]="fileControl" [multiple]="multiple" [accept]="accept" [color]="color">
        </ngx-mat-file-input>
     </mat-form-field>
    <div [formGroup]="locationForm">
        <div class="row">
            <div class="col-sm-8 col-md-6 col-lg-4">
                <mat-form-field>
                    <input matInput placeholder="street" #street [formControl]="this.locationForm.get('street')">
                    <mat-hint align="end">{{street.value.length}} / 200</mat-hint>
                </mat-form-field>
            </div>
            <div class="col-sm-4 col-md-3">
                <mat-form-field>
                    <input matInput placeholder="house number" [formControl]="this.locationForm.get('house_number')">
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 col-md-6 col-lg-4">
                <mat-form-field>
                    <input matInput placeholder="City" #city [formControl]="this.locationForm.get('city')">
                    <mat-hint align="end">{{city.value.length}} / 100</mat-hint>
                </mat-form-field>
            </div>
            <div class="col-sm-4 col-md-3">
                <mat-form-field>
                    <input matInput #postalCode maxlength="5" placeholder="ZIP/Postal Code"
                        [formControl]="this.locationForm.get('postal_code')">
                    <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 col-md-6 col-lg-4">
                <mat-form-field>
                    <mat-select placeholder="country" [formControl]="this.locationForm.get('country')">
                        <mat-option *ngFor="let country of countryList" [value]="country.alpha2">
                            {{country.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </div>
    <h4>Description</h4>
    <textarea matInput [formControl]="this.form.get('description')" matTextareaAutosize matAutosizeMinRows="5"
        maxlength="500" #description placeholder="say something about you" class="description"></textarea>
    <mat-hint align="end">{{description.value.length}} / 500</mat-hint>

    <h4>Slogan</h4>
    <textarea matInput [formControl]="this.form.get('catchPhrase')" maxlength="200" matAutosizeMaxRows="3" #slogan
        placeholder="this is your catchphrase and it will appear on top of your profile"></textarea>
    <mat-hint align="end">{{slogan.value.length}} / 200</mat-hint>
    <br>
    <div class="row bottomButtons">
        <button mat-raised-button routerLink="dashboard">
            skip
        </button>
        <button mat-raised-button color="accent" (click)="saveAndProceed()">
            done!
        </button>
    </div>
</form>