<p>
  Whether you are offering help or getting support, this interaction with a total stranger may seem a bit scary! But you should know that this kind of solidarity between citizens has always existed and worked. There exist outside of the internet many associations, platforms, NGO's opening their doors to people in difficult positions with positive feedbacks. 
</p>
<p>
	However, as you know, the zero risk doesn't exist. The human nature is unpredictable and here are therefore a few important points to keep in mind so that <b>socialFix</b> remains a positive experience for society and for yourself.
</p>

- Always follow your instinct.

- If you are going at someone's place, try to think of a plan B if something goes wrong
- After hosting, always submit a report to <b>socialFix</b>'s community team. 
Hosts can restrict who they invite using criteria such as the gender, but they cannot refuse someone into these criteria. This is why there is no point for them to leave a "guest evaluation". However, they can report to <b>socialfix</b>'s communitiy team any trouble they encounter with the guest. The team will then discuss the case and take measures if necessary. Little reminder: Any member who wants to participate to the project is free to join the community team. <b>SocialFix</b> has no vertical authority.
- After going to someone's place, always leave an evaluation
