mat-card{
    h2{
        display: inline;
        margin: 5px;
    }
    mat-chip-list{
        display: inline;
        mat-basic-chip {
            display: inline;
        }
    }
}

.map-container {
    margin: 30px;
    min-height: 50vh;
  }
  