.container {
	section {
		mat-checkbox {
			margin-right: 15px;
		}
	}

	mat-spinner {
		width       : 100%;
		margin-top  : 20%;
		margin-left : auto;
		margin-right: auto;
	}

	z-index: -1;

	mat-tab-group {
		padding: 5%;
	}
}