<mat-sidenav-container>

    <mat-sidenav #sidenav mode="push">
        <!-- <div class="branding"><img [src]="logo"/> <span>Social Fix</span></div> -->
        <mat-nav-list>
            <a mat-list-item *ngFor="let item of navigationSideMenu" (click)="sidenav.close()" [routerLink]="[item.link]"
                routerLinkActive="active">
                {{item.label}}
            </a>
            <a mat-list-item href="https://github.com/social-fix" target="_blank">
                <i class="fa fa-github fa-2x" aria-hidden="true"></i>
                github
            </a>
            <span class=" spacer center d-inline d-sm-none">
                <img [src]="logo" /></span>
        </mat-nav-list>
    </mat-sidenav>

    <div class="toolbar">
        <mat-toolbar color="primary">
            <button mat-icon-button class="d-md-none branding" (click)="sidenav.open()">
                <mat-icon>menu</mat-icon>
            </button>

            <span routerLink="/" class="branding spacer center d-inline d-sm-none">
                <img [src]="logo" /></span>
            <span routerLink="/" class="branding spacer center d-none d-sm-inline d-md-none"><img [src]="logo" />SocialFix</span>
            <span routerLink="/" class="d-sm-none branding spacer d-none d-md-inline"><img [src]="logo" />SocialFix</span>
            <button mat-raised-button *ngIf="!isAuthenticated" (click)="onRegisterClick()" class="register" color="accent">
                register
            </button>
            <button mat-button *ngIf="!isAuthenticated" (click)="onLoginClick()" class="sign-in-button">
                log in
            </button>
            <button *ngIf="isAuthenticated" mat-icon-button routerLink="settings" class="d-sm-inline">
                <mat-icon color="accent">settings</mat-icon>
            </button>
            <button *ngIf="isAuthenticated" mat-icon-button [matMenuTriggerFor]="toolbarUserMenu">
                <mat-icon color="accent">person</mat-icon>
            </button>
            <mat-menu #toolbarUserMenu="matMenu">
                <button mat-menu-item routerLink="/viewProfile">
                    <span>view profile</span>
                </button>
                <button mat-menu-item routerLink="/updateProfile">
                    <span>edit profile</span>
                </button>
                <button mat-menu-item (click)="onLogoutClick()">
                    <mat-icon>power_settings_new</mat-icon>
                    <span>Logout</span>
                </button>
            </mat-menu>

        </mat-toolbar>
    </div>
    <div class="wrapper">
        <div class="content" [@routerTransition]="o.isActivated && o.activatedRoute.routeConfig.path">
            <router-outlet #o="outlet"></router-outlet>
        </div>

        <div #bottom class="footer">
            <div class="row">
                <div class="col-sm-12 links">
                    <span class="d-none d-md-inline">
                        <button mat-button class="nav-button" *ngFor="let item of navigation" [routerLink]="[item.link]"
                            routerLinkActive="active">
                            {{item.label}}
                        </button>
                    </span>
                    <a href="https://github.com/social-fix" target="_blank">
                        <i class="fa fa-github fa-2x" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>

    </div>

</mat-sidenav-container>